{{- define "title" -}}
    {{- .Params.Title | default (T .Data.Plural) | default .Data.Plural | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    {{- $taxonomies := .Data.Plural -}}
    {{- $terms := .Data.Terms.ByCount -}}
    {{- $type := .Type -}}

    <div class="page archive">
        {{- /* Title */ -}}
        <h1 class="single-title">
            {{- .Params.Title | default (T $taxonomies) | default $taxonomies | dict "Some" | T "allSome" -}}
        </h1>

        {{- /* Categories Page */ -}}
        {{- if eq $taxonomies "categories" -}}
            <div class="categories-card">
                {{- range $terms -}}
                    {{- $term := .Term -}}
                    {{- $pages := .Pages -}}
                    {{- with $.Site.GetPage "taxonomy" (printf "%v/%v" $type $term) -}}
                    <div class="card-item">
                        <div class="card-item-wrapper">
                            <h3 class="card-item-title">
                                <a href="{{ .RelPermalink }}">
                                    <i class="far fa-folder fa-fw" aria-hidden="true"></i>&nbsp;{{ .Page.Title }}
                                </a>
                            </h3>
                            {{- range first 8 $pages -}}
                                <article class="archive-item">
                                    <a href="{{ .RelPermalink }}" class="archive-item-link">
                                        {{- .Title -}}
                                    </a>
                                </article>
                            {{- end -}}
                            {{- if gt (len $pages) 8 -}}
                                <span class="more-post">
                                    <a href="{{ .RelPermalink }}" class="more-single-link">{{ T "more" }} >></a>
                                </span>
                            {{- end -}}
                        </div>
                    </div>
                    {{- end -}}
                {{- end -}}
            </div>

        {{- /* Tag Cloud Page */ -}}
        {{- else if eq $taxonomies "tags" -}}
            <p>Tags are divided into groups based on the tag's popularity:</p>
            <div class="tag-cloud-tags">
                {{ $need_break := 0 }}
                {{ $prev_count := 100 }}

                <h3>Top Tags</h3>

                {{- range $.Site.Taxonomies.tags.ByCount -}}
                    {{ if and $need_break (ne .Count $prev_count) }}
                        {{ $need_break = 0 }}
                        {{ if eq $prev_count 12}}<h3>Mid Tags</h3>{{end}}
                        {{ if eq $prev_count 4}}<h3>Low Tags</h3>{{end}}
                        {{ if eq $prev_count 2}}<h3>Single Tags</h3>{{end}}
                    {{end}}

                    <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} <sup>{{ .Count }}</sup></a>

                    {{ if eq .Count 12}} {{ $need_break = 1 }} {{ end }}
                    {{ if eq .Count 4}} {{ $need_break = 1 }} {{ end }}
                    {{ if eq .Count 2}} {{ $need_break = 1 }} {{ end }}

                    {{ $prev_count = .Count }}
                {{- end -}}
            </div>
        {{- end -}}
    </div>
{{- end -}}
